openapi: 3.0.3
info:
  title: Vita Family API
  version: 0.1.0
  description: |
    Contrato REST do backend Vita Family (MVP). Fonte de verdade da API; gerado a partir de docs/05-api (Fase 13).
    Todas as rotas de negócio usam o prefixo /api/v1. Autorização por papel + relação + partilha (ver docs/02-users/permissions.md).
    Erros: application/problem+json com campo `code` estável (ver errors.md).
servers:
  - url: https://vitafamily.cassfrei.com/api/v1
    description: Produção (ADR-012)
security:
  - bearerAuth: []
tags:
  - name: Auth
  - name: Users
  - name: Families
  - name: Members
  - name: Invitations
  - name: Sharing
  - name: Health records
  - name: Prescriptions
  - name: Medications
  - name: Appointments
  - name: Clinics
  - name: Examinations
  - name: Documents
  - name: Alerts
  - name: Reports
  - name: Admin
  - name: Operations
paths:
  /auth/register:
    post:
      tags: [Auth]
      operationId: register
      summary: "Registar conta (ou aceitar convite de conta de dependente)."
      description: "Autorização: PUBLIC. BR-ACC-01/02, BR-MEM-12; resposta neutra mesmo que o e-mail já exista (sem enumeração); envia e-mail de verificação; regista termos."
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RegisterRequest" }
      responses:
        '202':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        '404':
          description: "INVITATION_INVALID"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '410':
          description: "INVITATION_EXPIRED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "AGE_REQUIREMENT_NOT_MET | DEPENDENT_ACCOUNT_AGE | PASSWORD_WEAK | VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '429':
          description: "RATE_LIMITED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /auth/verify-email:
    post:
      tags: [Auth]
      operationId: verifyEmail
      summary: "Verificar e-mail com token de uso único (24 h)."
      description: "Autorização: PUBLIC. Passa o utilizador a ACTIVE."
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VerifyEmailRequest" }
      responses:
        '204':
          description: Sem conteúdo
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '429':
          description: "RATE_LIMITED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /auth/resend-verification:
    post:
      tags: [Auth]
      operationId: resendVerification
      summary: "Reenviar e-mail de verificação."
      description: "Autorização: PUBLIC. Resposta neutra; invalida token anterior."
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ResendVerificationRequest" }
      responses:
        '202':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        '429':
          description: "RATE_LIMITED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /auth/login:
    post:
      tags: [Auth]
      operationId: login
      summary: "Iniciar sessão."
      description: "Autorização: PUBLIC. Devolve access token e define cookie `refresh_token` (HttpOnly, Secure, SameSite=Strict, caminho `/api/v1/auth`). Audita sucesso e falha."
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LoginRequest" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        '401':
          description: "AUTH_INVALID_CREDENTIALS"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "ACCOUNT_SUSPENDED | EMAIL_NOT_VERIFIED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '429':
          description: "RATE_LIMITED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /auth/refresh:
    post:
      tags: [Auth]
      operationId: refreshToken
      summary: "Rodar refresh token e obter novo access token."
      description: "Autorização: PUBLIC (cookie). Exige cabeçalho `X-Requested-With: vita`; reutilização de refresh antigo revoga toda a cadeia."
      security: []
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "ACCOUNT_SUSPENDED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '429':
          description: "RATE_LIMITED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /auth/logout:
    post:
      tags: [Auth]
      operationId: logout
      summary: "Terminar sessão atual."
      description: "Autorização: AUTH. Revoga o refresh token e limpa o cookie."
      responses:
        '204':
          description: Sem conteúdo
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /auth/password/forgot:
    post:
      tags: [Auth]
      operationId: forgotPassword
      summary: "Pedir recuperação de palavra-passe."
      description: "Autorização: PUBLIC. Resposta idêntica exista ou não a conta; link de uso único válido 1 h."
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ForgotPasswordRequest" }
      responses:
        '202':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        '429':
          description: "RATE_LIMITED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /auth/password/reset:
    post:
      tags: [Auth]
      operationId: resetPassword
      summary: "Definir nova palavra-passe com token."
      description: "Autorização: PUBLIC. Revoga todas as sessões (BR UC-ACC-03)."
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ResetPasswordRequest" }
      responses:
        '204':
          description: Sem conteúdo
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "PASSWORD_WEAK | VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '429':
          description: "RATE_LIMITED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /auth/password/change:
    post:
      tags: [Auth]
      operationId: changePassword
      summary: "Alterar palavra-passe (derivado de FR-AUTH)."
      description: "Autorização: AUTH. Revoga as outras sessões."
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChangePasswordRequest" }
      responses:
        '204':
          description: Sem conteúdo
        '401':
          description: "AUTH_INVALID_CREDENTIALS | UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "PASSWORD_WEAK"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /users/me:
    get:
      tags: [Users]
      operationId: getMe
      summary: "Ver a minha conta."
      description: "Autorização: AUTH."
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    patch:
      tags: [Users]
      operationId: updateMe
      summary: "Alterar nome e fuso horário."
      description: "Autorização: AUTH. Mudar fuso recalcula tomas futuras (BR-MED-08)."
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateUserRequest" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    delete:
      tags: [Users]
      operationId: deleteMe
      summary: "Eliminar a minha conta (hard delete)."
      description: "Autorização: AUTH. BR-ACC-06/07, D15: confirmação por palavra-passe; apaga dados e documentos; anonimiza auditoria. Disponível mesmo com termos por aceitar."
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DeleteAccountRequest" }
      responses:
        '204':
          description: Sem conteúdo
        '401':
          description: "AUTH_INVALID_CREDENTIALS | UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "ACCOUNT_DELETION_BLOCKED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /users/me/terms-acceptance:
    post:
      tags: [Users]
      operationId: acceptTerms
      summary: "Aceitar a versão atual dos termos."
      description: "Autorização: AUTH. B6."
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AcceptTermsRequest" }
      responses:
        '204':
          description: Sem conteúdo
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /users/me/notification-preferences:
    get:
      tags: [Users]
      operationId: getNotificationPreferences
      summary: "Ver preferências de notificação."
      description: "Autorização: AUTH."
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationPreferences"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    put:
      tags: [Users]
      operationId: putNotificationPreferences
      summary: "Definir canais e tipos de alerta."
      description: "Autorização: AUTH. R9, Q3: pode desativar alertas de toma."
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NotificationPreferences" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationPreferences"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /users/me/push-subscriptions:
    post:
      tags: [Users]
      operationId: addPushSubscription
      summary: "Registar subscrição Web Push."
      description: "Autorização: AUTH. UC-ALR-06; endpoint repetido atualiza a existente."
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PushSubscriptionRequest" }
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PushSubscription"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /users/me/push-subscriptions/{subscriptionId}:
    delete:
      tags: [Users]
      operationId: deletePushSubscription
      summary: "Remover subscrição Web Push."
      description: "Autorização: AUTH."
      parameters:
        - name: subscriptionId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Sem conteúdo
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /users/me/exports:
    post:
      tags: [Users]
      operationId: requestMyExport
      summary: "Pedir exportação dos meus dados (JSON + documentos)."
      description: "Autorização: AUTH. FR-PRIV-05, N7, Q6: gerada em segundo plano; máx. 3 pedidos por dia."
      responses:
        '202':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataExport"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '429':
          description: "RATE_LIMITED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /users/me/exports/{exportId}:
    get:
      tags: [Users]
      operationId: getMyExport
      summary: "Estado de uma exportação."
      description: "Autorização: AUTH."
      parameters:
        - name: exportId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataExport"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /users/me/exports/{exportId}/download:
    get:
      tags: [Users]
      operationId: downloadMyExport
      summary: "Descarregar pacote da exportação (zip)."
      description: "Autorização: AUTH. Válido 7 dias; auditado."
      parameters:
        - name: exportId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sucesso
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "EXPORT_NOT_READY"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families:
    post:
      tags: [Families]
      operationId: createFamily
      summary: "Criar família."
      description: "Autorização: AUTH. FR-FAM-01: cria o FamilyMember do utilizador como FAMILY_ADMIN; máx. 5 famílias (B4)."
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateFamilyRequest" }
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Family"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "LIMIT_EXCEEDED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    get:
      tags: [Families]
      operationId: listFamilies
      summary: "Listar as minhas famílias."
      description: "Autorização: AUTH."
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Family" }
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}:
    get:
      tags: [Families]
      operationId: getFamily
      summary: "Ver família."
      description: "Autorização: FAM_MEMBER."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Family"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    patch:
      tags: [Families]
      operationId: updateFamily
      summary: "Alterar nome da família."
      description: "Autorização: FAM_ADMIN."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateFamilyRequest" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Family"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    delete:
      tags: [Families]
      operationId: deleteFamily
      summary: "Eliminar família."
      description: "Autorização: FAM_ADMIN. R2: só com um único membro; apaga tudo (cascata + ficheiros)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Sem conteúdo
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "FAMILY_NOT_EMPTY"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/leave:
    post:
      tags: [Families]
      operationId: leaveFamily
      summary: "Sair da família (adulto), levando ou apagando os dados."
      description: "Autorização: FAM_MEMBER. R4, Q5, P8: menores/dependentes com conta não saem sozinhos; TAKE gera exportação e só apaga depois de pronta."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LeaveFamilyRequest" }
      responses:
        '202':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaveFamilyResult"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "LAST_ADMIN | LAST_GUARDIAN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members:
    get:
      tags: [Members]
      operationId: listMembers
      summary: "Listar membros."
      description: "Autorização: FAM_MEMBER. Nome e data de nascimento visíveis a todos (BR-PRV-10); dependente com conta só vê nomes (P5)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Member" }
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    post:
      tags: [Members]
      operationId: createMember
      summary: "Criar perfil de membro sem conta."
      description: "Autorização: FAM_ADMIN. UC-MEM-01, Q7: adulto sem conta só como dependente; máx. 20 membros."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateMemberRequest" }
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "LIMIT_EXCEEDED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "DEPENDENT_REQUIRES_GUARDIAN | GUARDIAN_INVALID | MINOR_MUST_BE_DEPENDENT | VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}:
    get:
      tags: [Members]
      operationId: getMember
      summary: "Ver membro."
      description: "Autorização: FAM_MEMBER."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    patch:
      tags: [Members]
      operationId: updateMember
      summary: "Alterar nome ou data de nascimento."
      description: "Autorização: FAM_ADMIN ou titular ou tutor. Alterar data de nascimento revalida regras de menor/tutor."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateMemberRequest" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "MINOR_MUST_BE_DEPENDENT | VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    delete:
      tags: [Members]
      operationId: removeMember
      summary: "Remover membro da família."
      description: "Autorização: FAM_ADMIN. BR-MEM-16: adulto com conta recebe pacote de dados antes de apagar; dependente: dados apagados após remoção por Admin e confirmação."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '202':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaveFamilyResult"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "LAST_ADMIN | LAST_GUARDIAN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/role:
    put:
      tags: [Members]
      operationId: setMemberRole
      summary: "Definir papel de família."
      description: "Autorização: FAM_ADMIN. Só adultos com conta podem ser Admin."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SetRoleRequest" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "LAST_ADMIN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/dependent:
    put:
      tags: [Members]
      operationId: setDependent
      summary: "Marcar/desmarcar como dependente e definir tutores."
      description: "Autorização: FAM_ADMIN (menor ou adulto sem conta) ou titular (adulto com conta). Q7: adulto com conta só se marca a si próprio (consentimento implícito)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SetDependentRequest" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "DEPENDENT_REQUIRES_GUARDIAN | GUARDIAN_INVALID | MINOR_MUST_BE_DEPENDENT"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/guardians:
    get:
      tags: [Members]
      operationId: listGuardians
      summary: "Listar tutores do dependente."
      description: "Autorização: FAM_MEMBER."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Guardianship" }
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    post:
      tags: [Members]
      operationId: addGuardian
      summary: "Adicionar tutor."
      description: "Autorização: FAM_ADMIN (ou titular, se adulto com conta)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AddGuardianRequest" }
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Guardianship"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "CONFLICT"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "GUARDIAN_INVALID"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/guardians/{guardianMemberId}:
    delete:
      tags: [Members]
      operationId: removeGuardian
      summary: "Remover tutor."
      description: "Autorização: FAM_ADMIN (ou titular, se adulto com conta). BR-MEM-07, P8."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: guardianMemberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Sem conteúdo
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "LAST_GUARDIAN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/guardians/primary:
    put:
      tags: [Members]
      operationId: setPrimaryGuardian
      summary: "Definir tutor principal."
      description: "Autorização: FAM_ADMIN (ou titular, se adulto com conta). BR-MEM-06: exatamente um principal."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SetPrimaryGuardianRequest" }
      responses:
        '204':
          description: Sem conteúdo
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "GUARDIAN_INVALID"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/exports:
    post:
      tags: [Members]
      operationId: requestDependentExport
      summary: "Exportar dados de um dependente."
      description: "Autorização: Tutor. P2: tutor exporta pelo dependente."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '202':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataExport"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '429':
          description: "RATE_LIMITED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/invitations:
    get:
      tags: [Invitations]
      operationId: listInvitations
      summary: "Listar convites."
      description: "Autorização: FAM_ADMIN."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Invitation" }
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    post:
      tags: [Invitations]
      operationId: createInvitation
      summary: "Convidar pessoa por e-mail."
      description: "Autorização: FAM_ADMIN. D14, R3: validade 7 dias; máx. 20 pendentes; `memberId` liga a perfil sem conta existente."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateInvitationRequest" }
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invitation"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "CONFLICT | LIMIT_EXCEEDED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/invitations/{invitationId}:
    delete:
      tags: [Invitations]
      operationId: revokeInvitation
      summary: "Revogar convite pendente."
      description: "Autorização: FAM_ADMIN (ou tutor, se for de conta de dependente)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: invitationId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Sem conteúdo
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/account-invitation:
    post:
      tags: [Invitations]
      operationId: createDependentAccountInvitation
      summary: "Autorizar e convidar conta limitada para um dependente."
      description: "Autorização: Tutor. P2, B3, N2: ≥13 anos; conta de acesso limitado."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateDependentAccountInvitationRequest" }
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invitation"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "DEPENDENT_ACCOUNT_AGE | VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /invitations/lookup:
    post:
      tags: [Invitations]
      operationId: lookupInvitation
      summary: "Ver dados mínimos de um convite."
      description: "Autorização: PUBLIC. Token no corpo (nunca no URL)."
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/InvitationLookupRequest" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitationPreview"
        '404':
          description: "INVITATION_INVALID"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '410':
          description: "INVITATION_EXPIRED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '429':
          description: "RATE_LIMITED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /invitations/accept:
    post:
      tags: [Invitations]
      operationId: acceptInvitation
      summary: "Aceitar convite."
      description: "Autorização: AUTH. BR-MEM-12/13/17."
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AcceptInvitationRequest" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Member"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "INVITATION_EMAIL_MISMATCH"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "INVITATION_INVALID"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "CONFLICT | LIMIT_EXCEEDED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '410':
          description: "INVITATION_EXPIRED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "BIRTHDATE_MISMATCH"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/sharing:
    get:
      tags: [Sharing]
      operationId: getSharing
      summary: "Ver partilha por categoria."
      description: "Autorização: Titular ou tutor."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SharingSettings"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    put:
      tags: [Sharing]
      operationId: putSharing
      summary: "Definir partilha (substitui as concessões)."
      description: "Autorização: Titular ou tutor. BR-PRV-01..04: só leitura; efeito imediato; destinatário nulo = toda a família."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SharingSettings" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SharingSettings"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/shared-with-me:
    get:
      tags: [Sharing]
      operationId: sharedWithMe
      summary: "O que foi partilhado comigo."
      description: "Autorização: FAM_MEMBER. UC-PRV-02."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/SharedWithMeItem" }
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/blood-type:
    get:
      tags: [Health records]
      operationId: getBloodType
      summary: "Ver tipo sanguíneo."
      description: "Autorização: READ(ALLERGIES)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BloodType"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    put:
      tags: [Health records]
      operationId: putBloodType
      summary: "Definir tipo sanguíneo."
      description: "Autorização: WRITE(ALLERGIES)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BloodType" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BloodType"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/allergies:
    get:
      tags: [Health records]
      operationId: listAllergies
      summary: "Listar alergias."
      description: "Autorização: READ(ALLERGIES)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Allergy" }
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    post:
      tags: [Health records]
      operationId: createAllergy
      summary: "Adicionar alergia."
      description: "Autorização: WRITE(ALLERGIES)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AllergyInput" }
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Allergy"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/allergies/{allergyId}:
    patch:
      tags: [Health records]
      operationId: updateAllergy
      summary: "Alterar alergia."
      description: "Autorização: WRITE(ALLERGIES). R6: só estado atual."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: allergyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AllergyPatch" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Allergy"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    delete:
      tags: [Health records]
      operationId: deleteAllergy
      summary: "Remover alergia."
      description: "Autorização: WRITE(ALLERGIES)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: allergyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Sem conteúdo
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/conditions:
    get:
      tags: [Health records]
      operationId: listConditions
      summary: "Listar condições e histórico médico."
      description: "Autorização: READ(CONDITIONS)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Condition" }
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    post:
      tags: [Health records]
      operationId: createCondition
      summary: "Adicionar condição ou histórico."
      description: "Autorização: WRITE(CONDITIONS)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ConditionInput" }
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Condition"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/conditions/{conditionId}:
    patch:
      tags: [Health records]
      operationId: updateCondition
      summary: "Alterar condição."
      description: "Autorização: WRITE(CONDITIONS)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: conditionId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ConditionPatch" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Condition"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    delete:
      tags: [Health records]
      operationId: deleteCondition
      summary: "Remover condição."
      description: "Autorização: WRITE(CONDITIONS)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: conditionId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Sem conteúdo
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/prescriptions:
    get:
      tags: [Prescriptions]
      operationId: listPrescriptions
      summary: "Listar receitas."
      description: "Autorização: READ(MEDICATION). Filtro por estado."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: status
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/Prescription" }
                  nextCursor: { type: string, nullable: true }
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    post:
      tags: [Prescriptions]
      operationId: createPrescription
      summary: "Registar receita com medicamentos (cria os planos de toma)."
      description: "Autorização: WRITE(MEDICATION). BR-RX-01/02, M2, R7: data de emissão obrigatória e não futura; ≥1 medicamento; gera tomas e alertas."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PrescriptionInput" }
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prescription"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "INVALID_SCHEDULE | VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '423':
          description: "MEMBER_BLOCKED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/prescriptions/{prescriptionId}:
    get:
      tags: [Prescriptions]
      operationId: getPrescription
      summary: "Ver receita."
      description: "Autorização: READ(MEDICATION)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: prescriptionId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prescription"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    patch:
      tags: [Prescriptions]
      operationId: updatePrescription
      summary: "Alterar dados da receita."
      description: "Autorização: WRITE(MEDICATION)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: prescriptionId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PrescriptionPatch" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prescription"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    delete:
      tags: [Prescriptions]
      operationId: deletePrescription
      summary: "Eliminar receita, planos, tomas e documentos."
      description: "Autorização: WRITE(MEDICATION). BR-RX-06; aconselhar CANCELAR; documentos apagados via outbox."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: prescriptionId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Sem conteúdo
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/prescriptions/{prescriptionId}/status:
    put:
      tags: [Prescriptions]
      operationId: setPrescriptionStatus
      summary: "Concluir, cancelar ou reabrir receita."
      description: "Autorização: WRITE(MEDICATION). ST1; terminar a receita termina os planos associados."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: prescriptionId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PrescriptionStatusRequest" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prescription"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "INVALID_STATE_TRANSITION"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/prescriptions/{prescriptionId}/medications:
    post:
      tags: [Prescriptions]
      operationId: addPrescriptionMedication
      summary: "Acrescentar medicamento (plano) à receita."
      description: "Autorização: WRITE(MEDICATION)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: prescriptionId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MedicationPlanInput" }
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicationPlan"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "INVALID_SCHEDULE | VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/medication-plans:
    get:
      tags: [Medications]
      operationId: listMedicationPlans
      summary: "Listar planos de toma (medicamentos)."
      description: "Autorização: READ(MEDICATION). Dependente com conta lê (N2)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: status
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/MedicationPlan" }
                  nextCursor: { type: string, nullable: true }
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    post:
      tags: [Medications]
      operationId: createMedicationPlan
      summary: "Criar plano avulso (sem receita)."
      description: "Autorização: WRITE(MEDICATION). R7, B5, Q1."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MedicationPlanInput" }
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicationPlan"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "INVALID_SCHEDULE | VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '423':
          description: "MEMBER_BLOCKED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/medication-plans/{planId}:
    get:
      tags: [Medications]
      operationId: getMedicationPlan
      summary: "Ver plano."
      description: "Autorização: READ(MEDICATION)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: planId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicationPlan"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    patch:
      tags: [Medications]
      operationId: updateMedicationPlan
      summary: "Alterar plano (efeito só no futuro)."
      description: "Autorização: WRITE(MEDICATION). BR-RX-05: recalcula tomas PENDING futuras."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: planId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MedicationPlanPatch" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicationPlan"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "INVALID_SCHEDULE | VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    delete:
      tags: [Medications]
      operationId: deleteMedicationPlan
      summary: "Eliminar plano e o seu histórico de tomas."
      description: "Autorização: WRITE(MEDICATION). Aconselhar terminar em vez de eliminar."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: planId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Sem conteúdo
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/medication-plans/{planId}/status:
    put:
      tags: [Medications]
      operationId: setMedicationPlanStatus
      summary: "Terminar ou reativar plano."
      description: "Autorização: WRITE(MEDICATION). ST1."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: planId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PlanStatusRequest" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MedicationPlan"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "INVALID_STATE_TRANSITION"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "INVALID_SCHEDULE"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/doses:
    get:
      tags: [Medications]
      operationId: listDoses
      summary: "Listar tomas (agenda e histórico)."
      description: "Autorização: READ(MEDICATION). FR-MED-05; filtros por período, estado e plano."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: status
          in: query
          schema:
            type: string
        - name: planId
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/Dose" }
                  nextCursor: { type: string, nullable: true }
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/doses/{doseId}/taken:
    post:
      tags: [Medications]
      operationId: markDoseTaken
      summary: "Confirmar toma."
      description: "Autorização: Titular, tutor ou dependente com conta. D7, M4, Q2: idempotente; regista quem e quando."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: doseId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DoseActionRequest" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dose"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "DOSE_IN_FUTURE | DOSE_WINDOW_EXPIRED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/doses/{doseId}/not-taken:
    post:
      tags: [Medications]
      operationId: markDoseNotTaken
      summary: "Marcar toma como não tomada."
      description: "Autorização: Titular, tutor ou dependente com conta."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: doseId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DoseActionRequest" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dose"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "DOSE_IN_FUTURE | DOSE_WINDOW_EXPIRED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/doses/{doseId}:
    put:
      tags: [Medications]
      operationId: correctDose
      summary: "Corrigir estado de toma (até 7 dias)."
      description: "Autorização: Quem agiu, titular ou tutor. ST2; auditado."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: doseId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DoseCorrectionRequest" }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dose"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '409':
          description: "DOSE_WINDOW_EXPIRED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/appointments:
    get:
      tags: [Appointments]
      operationId: listAppointments
      summary: "Listar consultas."
      description: "Autorização: READ(APPOINTMENTS). Dependente com conta lê (N2)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: status
          in: query
          schema:
            type: string
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
        - name: cursor
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/Appointment" }
                  nextCursor: { type: string, nullable: true }
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    post:
      tags: [Appointments]
      operationId: createAppointment
      summary: "Criar consulta."
      description: "Autorização: WRITE(APPOINTMENTS). FR-APT-01; gera lembretes 24 h e 2 h se futura."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AppointmentInput" }
      responses:
        '201':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '422':
          description: "VALIDATION_ERROR"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '423':
          description: "MEMBER_BLOCKED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  /families/{familyId}/members/{memberId}/appointments/{appointmentId}:
    get:
      tags: [Appointments]
      operationId: getAppointment
      summary: "Ver consulta."
      description: "Autorização: READ(APPOINTMENTS)."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: appointmentId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appointment"
        '401':
          description: "UNAUTHENTICATED"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '403':
          description: "FORBIDDEN"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        '404':
          description: "NOT_FOUND"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    patch:
      tags: [Appointments]
      operationId: updateAppointment
      summary: "Alterar/reagendar consulta."
      description: "Autorização: WRITE(APPOINTMENTS). Recalcula lembretes futuros."
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: memberId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: appointmentId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
[...]
